.image-container {
  background: #0b1017;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.row-index {
  margin-right: 10px;
}

.grid {
  max-width: 100%;
  overflow: auto;
}

.grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

/* .grid-item .status {
  width: 25px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 5px;
}

.grid-item .status.active {
  background-color: greenyellow;
} */

.grid-item input {
  padding: 0px !important;
  width: 100%;
  text-align: center;
  border-radius: 50%;
  width: 25px;
  aspect-ratio: 1;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: gray;
}

.grid-item input.active {
  background-color: greenyellow;
  color: black
}

.grid-item input.error {
  background-color: red;
}

.grid-item input::-webkit-outer-spin-button,
.grid-item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;

}